@keyframes buttonrotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes menu-element-appears {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  75% {
    opacity: 1;
  }
}
@keyframes loader-background {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
}
@keyframes loader {
  50% {
    transform: scale(3) rotate(180deg);
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1) rotate(360deg);
  }
}
@font-face {
  font-family: "Shrikhand";
  src: url(../../fonts/Shrikhand/Shrikhand-Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../../fonts/Roboto/Roboto-Bold.ttf);
  font-weight: bold;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Roboto;
}

.container {
  max-width: 2500px;
  margin: auto;
}

.container--home {
  animation: loader-background 3000ms;
}

a {
  text-decoration: none;
  color: black;
}

.loader {
  box-sizing: border-box;
  position: relative;
  height: 40px;
  width: 40px;
  background: white;
  top: 50vh;
  margin: auto;
  animation: loader 1000ms;
  animation-iteration-count: 3;
  animation-fill-mode: both;
  animation-timing-function: linear;
  border-radius: 25px;
  border-top: 3px solid #9356dc;
  border-bottom: 3px solid #ff79da;
}

.btn {
  border-radius: 25px;
  border: none;
}
.btn--gradient {
  background: linear-gradient(#ff79da, #9356dc);
  color: white;
  font-weight: bold;
  font-size: 0.95em;
  box-shadow: 0px 2px 6px grey;
}

.header {
  z-index: 1;
  height: 60px;
  box-shadow: 0px 0px 5px grey;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__logo {
  width: 165px;
  position: relative;
  top: 3px;
}

.footer {
  height: 200px;
  display: flex;
  flex-direction: column;
  padding: 0 15px 0 15px;
  background: #353535;
  color: white;
}
.footer__logo {
  width: 100px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.footer__logo path {
  fill: white;
}
.footer__link {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 8px;
}
.footer__link i {
  width: 30px;
  display: flex;
  justify-content: flex-start;
}
.footer__link a {
  text-decoration: none;
  color: white;
}

.container {
  flex-direction: column;
}
.container .localisation {
  background: #eaeaea;
  height: 50px;
}
.container .localisation__logo {
  position: relative;
  left: -20px;
}
.container .localisation__text {
  font-weight: bold;
  position: relative;
  top: 2px;
}
.container .explore {
  position: relative;
  align-items: center;
  height: 285px;
  background: #f6f6f6;
  flex-direction: column;
  padding-right: 35px;
  padding-left: 35px;
}
.container .explore h1,
.container .explore h2 {
  text-align: center;
}
.container .explore h1 {
  margin-top: 45px;
  margin-bottom: 22px;
}
.container .explore h2 {
  font-weight: normal;
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 31px;
}
.container .explore__button {
  height: 50px;
}
.container .working {
  flex-direction: column;
  height: 440px;
  padding: 0 15px 0 15px;
}
.container .working h2 {
  margin-top: 50px;
}
.container .working__step {
  position: relative;
  margin-left: 12.5px;
  height: 75px;
  background: #f6f6f6;
  margin-bottom: 25px;
  border-radius: 15px;
  font-weight: bold;
  align-items: center;
  box-shadow: 0px 1px 5px lightgrey;
}
.container .working__step--active {
  background: #f5edff;
}
.container .working__step__icon {
  color: #7e7e7e;
  font-size: 22px;
  padding-left: calc(8% + 12.5px);
}
.container .working__step__icon--active {
  color: #9356dc;
}
.container .working__step__text {
  padding-left: 8%;
}
.container .working__step__1::before {
  display: flex;
  align-items: center;
  justify-content: center;
  content: "1";
  background: #9356dc;
  color: white;
  height: 20px;
  width: 25px;
  border-radius: 25px;
  padding-top: 5px;
  font-weight: normal;
  position: absolute;
  left: -12.5px;
}
.container .working__step__2::before {
  display: flex;
  align-items: center;
  justify-content: center;
  content: "2";
  background: #9356dc;
  color: white;
  height: 20px;
  width: 25px;
  border-radius: 25px;
  padding-top: 5px;
  font-weight: normal;
  position: absolute;
  left: -12.5px;
}
.container .working__step__3::before {
  display: flex;
  align-items: center;
  justify-content: center;
  content: "3";
  background: #9356dc;
  color: white;
  height: 20px;
  width: 25px;
  border-radius: 25px;
  padding-top: 5px;
  font-weight: normal;
  position: absolute;
  left: -12.5px;
}
.container .restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f6f6f6;
  padding: 0 15px 0 15px;
  padding-bottom: 41px;
}
.container .restaurants h2 {
  align-self: flex-start;
  margin-top: 50px;
}
.container .restaurants__element {
  position: relative;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 15px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0px 1px 5px lightgrey;
}
.container .restaurants__element--new::before {
  content: "Nouveau";
  position: absolute;
  background: #99e2d0;
  color: #008766;
  font-weight: bold;
  border-radius: 2px;
  width: 80px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  top: 13px;
  right: 13px;
}
.container .restaurants__element__image {
  height: 174px;
  width: 100%;
}
.container .restaurants__element__image img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}
.container .restaurants__element__footer {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 14px;
  padding-right: 23px;
}
.container .restaurants__element__footer__legend {
  display: flex;
  flex-direction: column;
}
.container .restaurants__element__footer__legend__name {
  margin-bottom: 7px;
  margin-top: 0;
}
.container .restaurants__element__footer__icon {
  height: 20px;
}
.container .restaurants__element__footer__icon:hover .liked-icon {
  opacity: 1;
}
.container .restaurants__element__footer__icon:hover .unliked-icon {
  opacity: 0;
}
.container .restaurants__element__footer__icon i {
  font-size: 20px;
}
.container .restaurants__element__footer__icon i.liked-icon {
  opacity: 0;
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: opacity 300ms ease-in-out;
}
.container .restaurants__element__footer__icon i.unliked-icon {
  position: absolute;
  transition: opacity 300ms ease-in-out;
}

.container {
  background: #eaeaea;
}
.container .header-restaurant {
  position: relative;
}
.container .header-restaurant__arrow {
  display: inline-block;
  position: absolute;
  left: 23px;
  font-size: 20px;
}
.container .restaurant-image {
  height: 250px;
}
.container .restaurant-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.container .menu {
  z-index: 2;
  border-radius: 24px 24px 0 0;
  flex-direction: column;
  padding: 0 15px 0 15px;
  background: #eaeaea;
  overflow: hidden;
}
.container .menu__heading {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-left: 5px;
}
.container .menu__heading h1 {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
  font-size: 27px;
}
.container .menu__heading i {
  margin-right: 20px;
}
.container .menu .menu__section {
  flex-direction: column;
  margin-bottom: 8px;
}
.container .menu .menu__section__heading {
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  height: 20px;
  width: 100px;
  margin-left: 5px;
  margin-bottom: 12px;
  margin-top: 12px;
}
.container .menu .menu__section__heading__border {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 35px;
  background: #99e2d0;
}
.container .menu .menu__section__element {
  box-sizing: border-box;
  height: 60px;
  background: white;
  margin-bottom: 15px;
  padding-left: 10px;
  border-radius: 15px;
  box-shadow: 0px 1px 5px lightgrey;
  overflow: hidden;
}
.container .menu .menu__section__element--1 {
  animation-name: menu-element-appears;
  animation-duration: 500ms;
  animation-delay: 100ms;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}
.container .menu .menu__section__element--2 {
  animation-name: menu-element-appears;
  animation-duration: 500ms;
  animation-delay: 200ms;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}
.container .menu .menu__section__element--3 {
  animation-name: menu-element-appears;
  animation-duration: 500ms;
  animation-delay: 300ms;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}
.container .menu .menu__section__element--4 {
  animation-name: menu-element-appears;
  animation-duration: 500ms;
  animation-delay: 400ms;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}
.container .menu .menu__section__element--5 {
  animation-name: menu-element-appears;
  animation-duration: 500ms;
  animation-delay: 500ms;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}
.container .menu .menu__section__element--6 {
  animation-name: menu-element-appears;
  animation-duration: 500ms;
  animation-delay: 600ms;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}
.container .menu .menu__section__element--7 {
  animation-name: menu-element-appears;
  animation-duration: 500ms;
  animation-delay: 700ms;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}
.container .menu .menu__section__element--8 {
  animation-name: menu-element-appears;
  animation-duration: 500ms;
  animation-delay: 800ms;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}
.container .menu .menu__section__element--9 {
  animation-name: menu-element-appears;
  animation-duration: 500ms;
  animation-delay: 900ms;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}
.container .menu .menu__section__element__content {
  justify-content: space-between;
  width: 100%;
  min-width: 0;
}
.container .menu .menu__section__element__content__name {
  box-sizing: border-box;
  height: 60px;
  flex-direction: column;
  min-width: 0;
  justify-content: flex-end;
  padding-bottom: 10px;
}
.container .menu .menu__section__element__content__name h4 {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.container .menu .menu__section__element__content__name h3 {
  font-size: 16.8px;
  margin-bottom: 4px;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.container .menu .menu__section__element__content__name h4 {
  font-weight: 300;
  font-size: 14px;
}
.container .menu .menu__section__element__content__price {
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 10px;
  white-space: nowrap;
  font-size: 13px;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.container .menu .menu__section__element__button {
  background: #99e2d0;
  width: 0;
  min-width: 0;
  transition: all 300ms;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.container .menu .menu__section__element__button i {
  color: white;
}
.container .menu .menu__section__element:hover .menu__section__element__button {
  width: 50px;
  min-width: 50px;
}
.container .menu .menu__section__element:hover .menu__section__element__button i {
  animation: buttonrotate 300ms;
}
.container .order-button {
  width: 185px;
  height: 50px;
  margin: auto;
  margin-bottom: 60px;
  margin-top: 20px;
}

.flex {
  display: flex;
}
.flex-center {
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=main.css.map */
