body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.flex {
  display: flex;
  &-center {
    align-items: center;
    justify-content: center;
  }
}
.container {
  flex-direction: column;
  .header {
    z-index: 1;
    height: 60px;
    box-shadow: 0px 0px 5px grey;
    display: flex;
    align-items: center;
    justify-content: center;
    &__logo {
      width: 165px;
      position: relative;
      top: 6px;
    }
  }
  .localisation {
    background: #eaeaea;
    height: 50px;
    &__logo {
      position: relative;
      left: -20px;
    }
    &__text {
      font-weight: bold;
      position: relative;
      top: 2px;
    }
  }

  .explore {
    position: relative;
    align-items: center;
    height: 285px;
    background: #f6f6f6;
    flex-direction: column;
    padding-right: 40px;
    padding-left: 40px;
    h1,
    h2 {
      text-align: center;
    }
    h1 {
      margin-top: 40px;
      margin-bottom: 22px;
    }
    h2 {
      font-weight: normal;
      font-size: 1em;
      margin-top: 0;
      margin-bottom: 31px;
    }
    &__button {
      width: 220px;
      height: 50px;
      border-radius: 25px;
      border: none;
      background: linear-gradient(#e671db, #a95ddc);
      color: white;
      font-weight: bold;
      font-size: 0.95em;
      box-shadow: 0px 0px 5px grey;
    }
  }
}
