@import "./utils/__variables.scss";
@import "./base/_base";
@import "./components/_buttons";
@import "./layout/_header";
@import "./layout/_footer";
@import "./pages/__homepage.scss";
@import "./pages/__restaurant.scss";

.flex {
  display: flex;
  &-center {
    align-items: center;
    justify-content: center;
  }
}
