.footer {
    height: 200px;
    display: flex;
    flex-direction: column;
    padding: $section-padding;
    background: #353535;
    color: white;
    &__logo {
      width: 100px;
      margin-top: 25px;
      margin-bottom: 25px;
      path {
        fill: white;
      }
    }
    &__link {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 8px;
      i {
        width: 30px;
        display: flex;
        justify-content: flex-start;
      }
      a {
        text-decoration: none;
        color: white;
      }
    }
  }