.btn {
  border-radius: 25px;
  border: none;
  &--principal {
    background: linear-gradient($second-color, $primary-color);
    color: white;
    font-weight: bold;
    font-size: 0.95em;
    box-shadow: 0px 2px 6px grey;
    &:hover {
      filter: brightness(1.25);
      box-shadow: 0px hover-shadow(2) 6px grey;
    }
  }
}
