body {
  @include reset;
  font-family: Roboto;
}
.container {
  max-width: 1900px;
  margin: auto;
}
.container--home {
  animation: loader-background 3000ms;
}
.flex {
  display: flex;
  &-center {
    align-items: center;
    justify-content: center;
  }
}
a {
  text-decoration: none;
  color: black;
}
.loader {
  box-sizing: border-box;
  position: fixed;
  height: 40px;
  width: 40px;
  background: white;
  top: calc(50vh - 20px);
  left: calc(50vw - 20px);
  animation: loader 1000ms;
  animation-iteration-count: 3;
  animation-fill-mode: both;
  animation-timing-function: linear;
  border-radius: 25px;
  border-top: 3px solid $primary-color;
  border-bottom: 3px solid $second-color;
}
