.container {
  background: $fourth-color;
  .header-restaurant {
    position: relative;
    &__arrow {
      display: inline-block;
      position: absolute;
      left: 23px;
      font-size: 20px;
    }
  }
  .restaurant-image {
    height: 250px;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .menu {
    z-index: 2;
    border-radius: 24px 24px 0 0;
    flex-direction: column;
    padding: $section-padding;
    background: $fourth-color;
    overflow: hidden;
    position: relative;
    bottom: 30px;
    &__heading {
      display: flex;
      position: relative;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      margin-left: 5px;
      h1 {
        font-family: "Shrikhand", cursive;
        font-weight: normal;
        font-size: 27px;
      }
      i {
        margin-right: 20px;
      }
    }
    .menu__section {
      flex-direction: column;
      margin-bottom: 8px;
      &-heading {
        position: relative;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 300;
        height: 20px;
        width: 100px;
        margin-left: 5px;
        margin-bottom: 12px;
        margin-top: 12px;
        &-border {
          position: absolute;
          bottom: 0;
          height: 2px;
          width: 35px;
          background: $tertiary-color;
        }
      }
      &-element {
        @for $i from 1 to $max-restaurant-elements {
          &-#{$i} {
            animation-name: menu-element-appears;
            animation-duration: 500ms;
            animation-delay: ($i * 100ms);
            animation-fill-mode: both;
            animation-timing-function: ease-in-out;
          }
        }

        box-sizing: border-box;
        height: 60px;
        background: white;
        margin-bottom: 15px;
        padding-left: 10px;
        border-radius: 15px;
        box-shadow: $classic-box-shadow;
        overflow: hidden;
        &-content {
          justify-content: space-between;
          width: 100%;
          min-width: 0;
          &-name {
            box-sizing: border-box;
            height: 60px;
            flex-direction: column;
            min-width: 0;
            justify-content: flex-end;
            padding-bottom: 10px;
            h4 {
              margin: 0;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            h3 {
              font-size: 16.8px;
              margin-bottom: 4px;
              margin-top: 0;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            h4 {
              font-weight: 300;
              font-size: 14px;
            }
          }
          &-price {
            margin-left: 20px;
            margin-right: 20px;
            padding-bottom: 10px;
            white-space: nowrap;
            font-size: 13px;
            font-weight: bold;
            display: flex;
            align-items: flex-end;
            justify-content: center;
          }
        }
        &-button {
          background: $tertiary-color;
          width: 0;
          min-width: 0;
          transition: all 300ms;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          i {
            color: white;
          }
        }

        &:hover {
          .menu__section-element-button {
            width: 50px;
            min-width: 50px;
            i {
              animation: buttonrotate 300ms;
            }
          }
        }
      }
    }
  }
  .order-button {
    width: 185px;
    height: 50px;
    margin: auto;
    margin-bottom: 60px;
    margin-top: -10px;
  }
}
