$primary-color: #9356dc;
$secondary-color: #f6f6f6;
$tertiary-color: #eaeaea;
$quartenary-color: #e671db;
$header-box-shadow: 0px 0px 5px grey;
$classic-box-shadow: 0px 1px 5px lightgrey;
$section-padding: 0 15px 0 15px;
